.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 67.87vw;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(249, 98, 23, 1);
  position: relative;
  width: 100vw;
  height: 5.76vw;
  margin-top: -1.54vw;
}

.text_1 {
  width: 32.42vw;
  height: 1.82vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.51vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.82vw;
  margin: 2.82vw 0 0 1.51vw;
}

.text_2 {
  width: 19.16vw;
  height: 1.21vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.21vw;
  margin: 4.54vw 0.79vw 0 46.11vw;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 200px;
  height: 1.32vw;
  width: 3.79vw;
  position: absolute;
  left: 1.52vw;
  top: 1.11vw;
}

.text_3 {
  width: 2.38vw;
  height: 0.89vw;
  overflow-wrap: break-word;
  color: rgba(249, 99, 23, 1);
  font-size: 0.68vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.89vw;
  margin: 0.21vw 0 0 0.73vw;
}

.group_2 {
  position: relative;
  width: 100vw;
  height: 63.66vw;
  margin-bottom: 0.02vw;
}

.image_1 {
  width: 98.81vw;
  height: 9.02vw;
  margin: 51.36vw 0 0 1.19vw;
}

.text_4 {
  width: 25.75vw;
  height: 0.69vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.68vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.69vw;
  margin: 0.52vw 0 2.07vw 73.44vw;
}

.image_2 {
  position: absolute;
  left: 1.2vw;
  top: -0.32vw;
  width: 98.81vw;
  height: 9.02vw;
}

.group_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  position: absolute;
  left: 0.81vw;
  top: 5.03vw;
  width: 98.39vw;
  height: 59.56vw;
}

.image_3 {
  width: 6vw;
  height: 2.37vw;
  margin: -4.57vw 0 0 92.38vw;
}

.block_1 {
  width: 96.78vw;
  height: 13.89vw;
  margin: 3.01vw 0 0 0.8vw;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 47.99vw;
  height: 13.89vw;
  border: 1px solid rgba(0, 74, 136, 1);
  justify-content: flex-center;
}

.section_1 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 4.8vw;
  height: 7.73vw;
  justify-content: flex-center;
  margin: 0.4vw 0 0 0.4vw;
}

.block_2 {
  width: 2.2vw;
  height: 0.39vw;
  margin: 0.4vw 0 0 0.4vw;
}

.box_2 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 0.23vw;
  height: 0.23vw;
  margin-top: 0.09vw;
}

.text_5 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
}

.paragraph_1 {
  width: 4vw;
  height: 6.3vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.24vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 0.49vw;
  margin: 0.24vw 0 0.4vw 0.4vw;
}

.text-wrapper_2 {
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 1.4vw;
  margin-left: 12.4vw;
  width: 12.79vw;
}

.text_6 {
  width: 7.89vw;
  height: 0.81vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.58vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.81vw;
  margin: 0.29vw 0 0 2.44vw;
}

.section_2 {
  width: 5.07vw;
  height: 4.17vw;
  margin: 0.57vw 0.4vw 0 12.13vw;
}

.group_4 {
  position: relative;
  width: 5.07vw;
  height: 0.31vw;
}

.section_3 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(249, 98, 23, 1);
}

.section_4 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(249, 98, 23, 1);
}

.section_5 {
  background-color: rgba(249, 98, 23, 1);
  position: absolute;
  left: 0.21vw;
  top: 0.14vw;
  width: 4.72vw;
  height: 0.05vw;
}

.text-wrapper_3 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.33vw 0 0 0.14vw;
}

.text_7 {
  width: 2.77vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_4 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_8 {
  width: 2.42vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_5 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_9 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_6 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_10 {
  width: 2.4vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_7 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_11 {
  width: 3.03vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 0.61vw;
  border: 4px solid rgba(249, 98, 23, 1);
  width: 2.22vw;
  position: absolute;
  left: 43.29vw;
  top: 0.41vw;
}

.text_12 {
  width: 1.46vw;
  height: 0.47vw;
  overflow-wrap: break-word;
  color: rgba(249, 98, 23, 1);
  font-size: 0.36vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.37vw;
  margin: 0.07vw 0 0 0.38vw;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 47.99vw;
  height: 13.89vw;
  border: 1px solid rgba(0, 74, 136, 1);
  justify-content: flex-center;
}

.box_4 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 4.8vw;
  height: 9.18vw;
  justify-content: flex-center;
  margin: 0.4vw 0 0 0.4vw;
}

.group_5 {
  width: 2.2vw;
  height: 0.39vw;
  margin: 0.4vw 0 0 0.4vw;
}

.box_5 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 0.23vw;
  height: 0.23vw;
  margin-top: 0.09vw;
}

.text_13 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
}

.text_14 {
  width: 4vw;
  height: 7.75vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.24vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 0.49vw;
  margin: 0.24vw 0 0.4vw 0.4vw;
}

.text-wrapper_9 {
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 1.4vw;
  margin-left: 12.4vw;
  width: 12.79vw;
}

.text_15 {
  width: 9.64vw;
  height: 0.81vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.58vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.81vw;
  margin: 0.29vw 0 0 1.57vw;
}

.box_6 {
  width: 5.07vw;
  height: 2.68vw;
  margin: 0.57vw 0.4vw 0 12.13vw;
}

.block_3 {
  position: relative;
  width: 5.07vw;
  height: 0.31vw;
}

.block_4 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(249, 98, 23, 1);
}

.block_5 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(249, 98, 23, 1);
}

.block_6 {
  background-color: rgba(249, 98, 23, 1);
  position: absolute;
  left: 0.21vw;
  top: 0.14vw;
  width: 4.72vw;
  height: 0.05vw;
}

.text-wrapper_10 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.33vw 0 0 0.14vw;
}

.text_16 {
  width: 4.54vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_11 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_17 {
  width: 4.54vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_12 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_18 {
  width: 4.54vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_13 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 0.61vw;
  border: 4px solid rgba(249, 98, 23, 1);
  width: 2.22vw;
  position: absolute;
  left: 43.29vw;
  top: 0.41vw;
}

.text_19 {
  width: 1.46vw;
  height: 0.47vw;
  overflow-wrap: break-word;
  color: rgba(249, 98, 23, 1);
  font-size: 0.36vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.37vw;
  margin: 0.07vw 0 0 0.38vw;
}

.grid_1 {
  width: 96.78vw;
  height: 43.26vw;
  flex-wrap: wrap;
  margin: 0.8vw 0 0.8vw 0.8vw;
}

.block_7 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 47.99vw;
  height: 13.89vw;
  border: 1px solid rgba(249, 98, 23, 1);
  justify-content: flex-center;
  margin: 0 0.8vw 0.8vw 0;
}

.box_7 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 4.8vw;
  height: 6.76vw;
  justify-content: flex-center;
  margin: 0.4vw 0 0 0.4vw;
}

.group_6 {
  width: 2.2vw;
  height: 0.39vw;
  margin: 0.4vw 0 0 0.4vw;
}

.group_7 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 0.23vw;
  height: 0.23vw;
  margin-top: 0.09vw;
}

.text_20 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
}

.paragraph_2 {
  width: 4vw;
  height: 5.33vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.24vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 0.49vw;
  margin: 0.24vw 0 0.4vw 0.4vw;
}

.text-wrapper_14 {
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 1.4vw;
  margin-left: 12.4vw;
  width: 12.79vw;
}

.text_21 {
  width: 9.06vw;
  height: 0.81vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.58vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.81vw;
  margin: 0.29vw 0 0 1.86vw;
}

.box_8 {
  width: 5.07vw;
  height: 4.17vw;
  margin: 0.57vw 0.4vw 0 12.13vw;
}

.block_8 {
  position: relative;
  width: 5.07vw;
  height: 0.31vw;
}

.group_8 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_9 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_10 {
  background-color: rgba(0, 74, 136, 1);
  position: absolute;
  left: 0.21vw;
  top: 0.14vw;
  width: 4.72vw;
  height: 0.05vw;
}

.text-wrapper_15 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.33vw 0 0 0.14vw;
}

.text_22 {
  width: 3.37vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_16 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_23 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_17 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_24 {
  width: 2.73vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_18 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_25 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_19 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_26 {
  width: 2.73vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_20 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 0.61vw;
  border: 4px solid rgba(0, 74, 136, 1);
  width: 2.22vw;
  position: absolute;
  left: 43.29vw;
  top: 0.41vw;
}

.text_27 {
  width: 1.46vw;
  height: 0.47vw;
  overflow-wrap: break-word;
  color: rgba(0, 74, 136, 1);
  font-size: 0.36vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.37vw;
  margin: 0.07vw 0 0 0.38vw;
}

.block_9 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 47.99vw;
  height: 13.89vw;
  border: 1px solid rgba(249, 98, 23, 1);
  margin-bottom: 0.81vw;
  justify-content: flex-center;
}

.box_9 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 4.8vw;
  height: 9.18vw;
  justify-content: flex-center;
  margin: 0.4vw 0 0 0.4vw;
}

.box_10 {
  width: 2.2vw;
  height: 0.39vw;
  margin: 0.4vw 0 0 0.4vw;
}

.box_11 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 0.23vw;
  height: 0.23vw;
  margin-top: 0.09vw;
}

.text_28 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
}

.text_29 {
  width: 4vw;
  height: 7.75vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.24vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 0.49vw;
  margin: 0.24vw 0 0.4vw 0.4vw;
}

.text-wrapper_21 {
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 1.4vw;
  margin-left: 12.4vw;
  width: 12.79vw;
}

.text_30 {
  width: 10.49vw;
  height: 0.81vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.58vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.81vw;
  margin: 0.29vw 0 0 1.41vw;
}

.box_12 {
  width: 5.07vw;
  height: 4.17vw;
  margin: 0.57vw 0.4vw 0 12.13vw;
}

.group_11 {
  position: relative;
  width: 5.07vw;
  height: 0.31vw;
}

.group_12 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_13 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_14 {
  background-color: rgba(0, 74, 136, 1);
  position: absolute;
  left: 0.21vw;
  top: 0.14vw;
  width: 4.72vw;
  height: 0.05vw;
}

.text-wrapper_22 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.33vw 0 0 0.14vw;
}

.text_31 {
  width: 4.68vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_23 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_32 {
  width: 1.27vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_24 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_33 {
  width: 1.21vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_25 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_34 {
  width: 4.28vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_26 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_35 {
  width: 3.03vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_27 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 0.61vw;
  border: 4px solid rgba(0, 74, 136, 1);
  width: 2.22vw;
  position: absolute;
  left: 43.29vw;
  top: 0.41vw;
}

.text_36 {
  width: 1.46vw;
  height: 0.47vw;
  overflow-wrap: break-word;
  color: rgba(0, 74, 136, 1);
  font-size: 0.36vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.37vw;
  margin: 0.07vw 0 0 0.38vw;
}

.block_10 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 47.99vw;
  height: 13.89vw;
  border: 1px solid rgba(0, 74, 136, 1);
  justify-content: flex-center;
  margin: 0 0.8vw 0.8vw 0;
}

.group_15 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 4.8vw;
  height: 7.73vw;
  justify-content: flex-center;
  margin: 0.4vw 0 0 0.4vw;
}

.box_13 {
  width: 2.2vw;
  height: 0.39vw;
  margin: 0.4vw 0 0 0.4vw;
}

.box_14 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 0.23vw;
  height: 0.23vw;
  margin-top: 0.09vw;
}

.text_37 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
}

.paragraph_3 {
  width: 4vw;
  height: 6.3vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.24vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 0.49vw;
  margin: 0.24vw 0 0.4vw 0.4vw;
}

.text-wrapper_28 {
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 1.4vw;
  margin-left: 12.4vw;
  width: 12.79vw;
}

.text_38 {
  width: 7.53vw;
  height: 0.81vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.58vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.81vw;
  margin: 0.29vw 0 0 2.63vw;
}

.group_16 {
  width: 5.07vw;
  height: 4.17vw;
  margin: 0.57vw 0.4vw 0 12.13vw;
}

.box_15 {
  position: relative;
  width: 5.07vw;
  height: 0.31vw;
}

.box_16 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(249, 98, 23, 1);
}

.box_17 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(249, 98, 23, 1);
}

.box_18 {
  background-color: rgba(249, 98, 23, 1);
  position: absolute;
  left: 0.21vw;
  top: 0.14vw;
  width: 4.72vw;
  height: 0.05vw;
}

.text-wrapper_29 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.33vw 0 0 0.14vw;
}

.text_39 {
  width: 2.42vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_30 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_40 {
  width: 2.12vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_31 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_41 {
  width: 2.12vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_32 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_42 {
  width: 2.42vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_33 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_43 {
  width: 2.42vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_34 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 0.61vw;
  border: 4px solid rgba(249, 98, 23, 1);
  width: 2.22vw;
  position: absolute;
  left: 43.29vw;
  top: 0.41vw;
}

.text_44 {
  width: 1.46vw;
  height: 0.47vw;
  overflow-wrap: break-word;
  color: rgba(249, 98, 23, 1);
  font-size: 0.36vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.37vw;
  margin: 0.07vw 0 0 0.38vw;
}

.block_11 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 47.99vw;
  height: 13.89vw;
  border: 1px solid rgba(0, 74, 136, 1);
  margin-bottom: 0.81vw;
  justify-content: flex-center;
}

.box_19 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 4.8vw;
  height: 8.21vw;
  justify-content: flex-center;
  margin: 0.4vw 0 0 0.4vw;
}

.box_20 {
  width: 2.2vw;
  height: 0.39vw;
  margin: 0.4vw 0 0 0.4vw;
}

.box_21 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 0.23vw;
  height: 0.23vw;
  margin-top: 0.09vw;
}

.text_45 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
}

.text_46 {
  width: 4vw;
  height: 6.78vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.24vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 0.49vw;
  margin: 0.24vw 0 0.4vw 0.4vw;
}

.text-wrapper_35 {
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 1.4vw;
  margin-left: 12.4vw;
  width: 12.79vw;
}

.text_47 {
  width: 8.69vw;
  height: 0.81vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.58vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.81vw;
  margin: 0.29vw 0 0 2.04vw;
}

.box_22 {
  width: 5.07vw;
  height: 4.17vw;
  margin: 0.57vw 0.4vw 0 12.13vw;
}

.section_6 {
  position: relative;
  width: 5.07vw;
  height: 0.31vw;
}

.group_17 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(249, 98, 23, 1);
}

.group_18 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(249, 98, 23, 1);
}

.group_19 {
  background-color: rgba(249, 98, 23, 1);
  position: absolute;
  left: 0.21vw;
  top: 0.14vw;
  width: 4.72vw;
  height: 0.05vw;
}

.text-wrapper_36 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.33vw 0 0 0.14vw;
}

.text_48 {
  width: 4.68vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_37 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_49 {
  width: 1.64vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_38 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_50 {
  width: 2.57vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_39 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_51 {
  width: 4.28vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_40 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_52 {
  width: 1.64vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_41 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 0.61vw;
  border: 4px solid rgba(249, 98, 23, 1);
  width: 2.22vw;
  position: absolute;
  left: 43.29vw;
  top: 0.41vw;
}

.text_53 {
  width: 1.46vw;
  height: 0.47vw;
  overflow-wrap: break-word;
  color: rgba(249, 98, 23, 1);
  font-size: 0.36vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.37vw;
  margin: 0.07vw 0 0 0.38vw;
}

.block_12 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 47.99vw;
  height: 13.89vw;
  border: 1px solid rgba(249, 98, 23, 1);
  justify-content: flex-center;
  margin: 0 0.8vw 0.8vw 0;
}

.group_20 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 4.8vw;
  height: 7.73vw;
  justify-content: flex-center;
  margin: 0.4vw 0 0 0.4vw;
}

.group_21 {
  width: 2.2vw;
  height: 0.39vw;
  margin: 0.4vw 0 0 0.4vw;
}

.box_23 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 0.23vw;
  height: 0.23vw;
  margin-top: 0.09vw;
}

.text_54 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
}

.text_55 {
  width: 4vw;
  height: 6.3vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.24vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 0.49vw;
  margin: 0.24vw 0 0.4vw 0.4vw;
}

.text-wrapper_42 {
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 1.4vw;
  margin-left: 12.4vw;
  width: 12.79vw;
}

.text_56 {
  width: 7.63vw;
  height: 0.81vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.58vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.81vw;
  margin: 0.29vw 0 0 2.39vw;
}

.group_22 {
  width: 5.07vw;
  height: 3.42vw;
  margin: 0.57vw 0.4vw 0 12.13vw;
}

.box_24 {
  position: relative;
  width: 5.07vw;
  height: 0.31vw;
}

.block_13 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(0, 74, 136, 1);
}

.block_14 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(0, 74, 136, 1);
}

.block_15 {
  background-color: rgba(0, 74, 136, 1);
  position: absolute;
  left: 0.21vw;
  top: 0.14vw;
  width: 4.72vw;
  height: 0.05vw;
}

.text-wrapper_43 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.33vw 0 0 0.14vw;
}

.text_57 {
  width: 4.68vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_44 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.paragraph_4 {
  width: 4.68vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_45 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_58 {
  width: 4.68vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_46 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_59 {
  width: 4.68vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_47 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 0.61vw;
  border: 4px solid rgba(0, 74, 136, 1);
  width: 2.22vw;
  position: absolute;
  left: 43.29vw;
  top: 0.41vw;
}

.text_60 {
  width: 1.46vw;
  height: 0.47vw;
  overflow-wrap: break-word;
  color: rgba(0, 74, 136, 1);
  font-size: 0.36vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.37vw;
  margin: 0.07vw 0 0 0.38vw;
}

.block_16 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 47.99vw;
  height: 13.89vw;
  border: 1px solid rgba(249, 98, 23, 1);
  margin-bottom: 0.81vw;
  justify-content: flex-center;
}

.block_17 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 4.8vw;
  height: 7.24vw;
  justify-content: flex-center;
  margin: 0.4vw 0 0 0.4vw;
}

.box_25 {
  width: 2.2vw;
  height: 0.39vw;
  margin: 0.4vw 0 0 0.4vw;
}

.group_23 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 0.23vw;
  height: 0.23vw;
  margin-top: 0.09vw;
}

.text_61 {
  width: 1.82vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
}

.text_62 {
  width: 4vw;
  height: 5.81vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.24vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 0.49vw;
  margin: 0.24vw 0 0.4vw 0.4vw;
}

.text-wrapper_48 {
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 1.4vw;
  margin-left: 12.4vw;
  width: 12.79vw;
}

.text_63 {
  width: 6.36vw;
  height: 0.81vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.58vw;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.81vw;
  margin: 0.29vw 0 0 3.21vw;
}

.block_18 {
  width: 5.07vw;
  height: 4.91vw;
  margin: 0.57vw 0.4vw 0 12.13vw;
}

.box_26 {
  position: relative;
  width: 5.07vw;
  height: 0.31vw;
}

.group_24 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_25 {
  border-radius: 50%;
  width: 0.31vw;
  height: 0.31vw;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_26 {
  background-color: rgba(0, 74, 136, 1);
  position: absolute;
  left: 0.21vw;
  top: 0.14vw;
  width: 4.72vw;
  height: 0.05vw;
}

.text-wrapper_49 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.33vw 0 0 0.14vw;
}

.text_64 {
  width: 2.18vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_50 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_65 {
  width: 4.62vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_51 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_66 {
  width: 1.35vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_52 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_67 {
  width: 0.61vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_53 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_68 {
  width: 2.59vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_54 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 0.55vw;
  width: 4.92vw;
  margin: 0.2vw 0 0 0.14vw;
}

.text_69 {
  width: 3.71vw;
  height: 0.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.3vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.31vw;
  margin: 0.08vw 0 0 0.24vw;
}

.text-wrapper_55 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 0.61vw;
  border: 4px solid rgba(0, 74, 136, 1);
  width: 2.22vw;
  position: absolute;
  left: 43.29vw;
  top: 0.41vw;
}

.text_70 {
  width: 1.46vw;
  height: 0.47vw;
  overflow-wrap: break-word;
  color: rgba(0, 74, 136, 1);
  font-size: 0.36vw;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.37vw;
  margin: 0.07vw 0 0 0.38vw;
}
