.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 9920px;
  height: 6732px;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(249, 98, 23, 1);
  position: relative;
  width: 9920px;
  height: 571px;
  margin-top: -153px;
}

.text_1 {
  width: 3216px;
  height: 180px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 150px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 180px;
  margin: 280px 0 0 150px;
}

.text_2 {
  width: 1900px;
  height: 120px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 100px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 120px;
  margin: 451px 79px 0 4575px;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 200px;
  height: 130px;
  width: 375px;
  position: absolute;
  left: 150px;
  top: 110px;
}

.text_3 {
  width: 236px;
  height: 88px;
  overflow-wrap: break-word;
  color: rgba(249, 99, 23, 1);
  font-size: 68px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 88px;
  margin: 21px 0 0 73px;
}

.group_2 {
  position: relative;
  width: 9920px;
  height: 6315px;
  margin-bottom: 1px;
}

.image_1 {
  width: 9801px;
  height: 894px;
  margin: 5095px 0 0 119px;
}

.text_4 {
  width: 2554px;
  height: 68px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 68px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 68px;
  margin: 52px 0 206px 7286px;
}

.image_2 {
  position: absolute;
  left: 119px;
  top: -32px;
  width: 9801px;
  height: 894px;
}

.group_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  position: absolute;
  left: 80px;
  top: 498px;
  width: 9760px;
  height: 5908px;
}

.image_3 {
  width: 595px;
  height: 235px;
  margin: -454px 0 0 9165px;
}

.block_1 {
  width: 9600px;
  height: 1377px;
  margin: 299px 0 0 80px;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 4760px;
  height: 1377px;
  border: 1px solid rgba(0, 74, 136, 1);
  justify-content: flex-center;
}

.section_1 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 476px;
  height: 766px;
  justify-content: flex-center;
  margin: 40px 0 0 40px;
}

.block_2 {
  width: 218px;
  height: 38px;
  margin: 40px 0 0 40px;
}

.box_2 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 8px;
}

.text_5 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}

.paragraph_1 {
  width: 396px;
  height: 624px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 48px;
  margin: 24px 0 40px 40px;
}

.text-wrapper_2 {
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 138px;
  margin-left: 1230px;
  width: 1268px;
}

.text_6 {
  width: 782px;
  height: 80px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 58px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 80px;
  margin: 29px 0 0 243px;
}

.section_2 {
  width: 502px;
  height: 413px;
  margin: 57px 40px 0 1204px;
}

.group_4 {
  position: relative;
  width: 502px;
  height: 30px;
}

.section_3 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(249, 98, 23, 1);
}

.section_4 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(249, 98, 23, 1);
}

.section_5 {
  background-color: rgba(249, 98, 23, 1);
  position: absolute;
  left: 20px;
  top: 13px;
  width: 468px;
  height: 4px;
}

.text-wrapper_3 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 33px 0 0 14px;
}

.text_7 {
  width: 274px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_4 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_8 {
  width: 240px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_5 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_9 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_6 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_10 {
  width: 238px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_7 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_11 {
  width: 300px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 60px;
  border: 4px solid rgba(249, 98, 23, 1);
  width: 220px;
  position: absolute;
  left: 4294px;
  top: 40px;
}

.text_12 {
  width: 144px;
  height: 46px;
  overflow-wrap: break-word;
  color: rgba(249, 98, 23, 1);
  font-size: 36px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
  margin: 7px 0 0 38px;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 4760px;
  height: 1377px;
  border: 1px solid rgba(0, 74, 136, 1);
  justify-content: flex-center;
}

.box_4 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 476px;
  height: 910px;
  justify-content: flex-center;
  margin: 40px 0 0 40px;
}

.group_5 {
  width: 218px;
  height: 38px;
  margin: 40px 0 0 40px;
}

.box_5 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 8px;
}

.text_13 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}

.text_14 {
  width: 396px;
  height: 768px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 48px;
  margin: 24px 0 40px 40px;
}

.text-wrapper_9 {
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 138px;
  margin-left: 1230px;
  width: 1268px;
}

.text_15 {
  width: 956px;
  height: 80px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 58px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 80px;
  margin: 29px 0 0 156px;
}

.box_6 {
  width: 502px;
  height: 265px;
  margin: 57px 40px 0 1204px;
}

.block_3 {
  position: relative;
  width: 502px;
  height: 30px;
}

.block_4 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(249, 98, 23, 1);
}

.block_5 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(249, 98, 23, 1);
}

.block_6 {
  background-color: rgba(249, 98, 23, 1);
  position: absolute;
  left: 20px;
  top: 13px;
  width: 468px;
  height: 4px;
}

.text-wrapper_10 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 33px 0 0 14px;
}

.text_16 {
  width: 450px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_11 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_17 {
  width: 450px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_12 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_18 {
  width: 450px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_13 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 60px;
  border: 4px solid rgba(249, 98, 23, 1);
  width: 220px;
  position: absolute;
  left: 4294px;
  top: 40px;
}

.text_19 {
  width: 144px;
  height: 46px;
  overflow-wrap: break-word;
  color: rgba(249, 98, 23, 1);
  font-size: 36px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
  margin: 7px 0 0 38px;
}

.grid_1 {
  width: 9600px;
  height: 4291px;
  flex-wrap: wrap;
  margin: 80px 0 80px 80px;
}

.block_7 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 4760px;
  height: 1377px;
  border: 1px solid rgba(249, 98, 23, 1);
  justify-content: flex-center;
  margin: 0 80px 80px 0;
}

.box_7 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 476px;
  height: 670px;
  justify-content: flex-center;
  margin: 40px 0 0 40px;
}

.group_6 {
  width: 218px;
  height: 38px;
  margin: 40px 0 0 40px;
}

.group_7 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 8px;
}

.text_20 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}

.paragraph_2 {
  width: 396px;
  height: 528px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 48px;
  margin: 24px 0 40px 40px;
}

.text-wrapper_14 {
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 138px;
  margin-left: 1230px;
  width: 1268px;
}

.text_21 {
  width: 898px;
  height: 80px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 58px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 80px;
  margin: 29px 0 0 185px;
}

.box_8 {
  width: 502px;
  height: 413px;
  margin: 57px 40px 0 1204px;
}

.block_8 {
  position: relative;
  width: 502px;
  height: 30px;
}

.group_8 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_9 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_10 {
  background-color: rgba(0, 74, 136, 1);
  position: absolute;
  left: 20px;
  top: 13px;
  width: 468px;
  height: 4px;
}

.text-wrapper_15 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 33px 0 0 14px;
}

.text_22 {
  width: 334px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_16 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_23 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_17 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_24 {
  width: 270px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_18 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_25 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_19 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_26 {
  width: 270px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_20 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 60px;
  border: 4px solid rgba(0, 74, 136, 1);
  width: 220px;
  position: absolute;
  left: 4294px;
  top: 40px;
}

.text_27 {
  width: 144px;
  height: 46px;
  overflow-wrap: break-word;
  color: rgba(0, 74, 136, 1);
  font-size: 36px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
  margin: 7px 0 0 38px;
}

.block_9 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 4760px;
  height: 1377px;
  border: 1px solid rgba(249, 98, 23, 1);
  margin-bottom: 80px;
  justify-content: flex-center;
}

.box_9 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 476px;
  height: 910px;
  justify-content: flex-center;
  margin: 40px 0 0 40px;
}

.box_10 {
  width: 218px;
  height: 38px;
  margin: 40px 0 0 40px;
}

.box_11 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 8px;
}

.text_28 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}

.text_29 {
  width: 396px;
  height: 768px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 48px;
  margin: 24px 0 40px 40px;
}

.text-wrapper_21 {
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 138px;
  margin-left: 1230px;
  width: 1268px;
}

.text_30 {
  width: 1040px;
  height: 80px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 58px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 80px;
  margin: 29px 0 0 140px;
}

.box_12 {
  width: 502px;
  height: 413px;
  margin: 57px 40px 0 1204px;
}

.group_11 {
  position: relative;
  width: 502px;
  height: 30px;
}

.group_12 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_13 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_14 {
  background-color: rgba(0, 74, 136, 1);
  position: absolute;
  left: 20px;
  top: 13px;
  width: 468px;
  height: 4px;
}

.text-wrapper_22 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 33px 0 0 14px;
}

.text_31 {
  width: 464px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_23 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_32 {
  width: 125px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_24 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_33 {
  width: 120px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_25 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_34 {
  width: 424px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_26 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_35 {
  width: 300px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_27 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 60px;
  border: 4px solid rgba(0, 74, 136, 1);
  width: 220px;
  position: absolute;
  left: 4294px;
  top: 40px;
}

.text_36 {
  width: 144px;
  height: 46px;
  overflow-wrap: break-word;
  color: rgba(0, 74, 136, 1);
  font-size: 36px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
  margin: 7px 0 0 38px;
}

.block_10 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 4760px;
  height: 1377px;
  border: 1px solid rgba(0, 74, 136, 1);
  justify-content: flex-center;
  margin: 0 80px 80px 0;
}

.group_15 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 476px;
  height: 766px;
  justify-content: flex-center;
  margin: 40px 0 0 40px;
}

.box_13 {
  width: 218px;
  height: 38px;
  margin: 40px 0 0 40px;
}

.box_14 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 8px;
}

.text_37 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}

.paragraph_3 {
  width: 396px;
  height: 624px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 48px;
  margin: 24px 0 40px 40px;
}

.text-wrapper_28 {
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 138px;
  margin-left: 1230px;
  width: 1268px;
}

.text_38 {
  width: 746px;
  height: 80px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 58px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 80px;
  margin: 29px 0 0 261px;
}

.group_16 {
  width: 502px;
  height: 413px;
  margin: 57px 40px 0 1204px;
}

.box_15 {
  position: relative;
  width: 502px;
  height: 30px;
}

.box_16 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(249, 98, 23, 1);
}

.box_17 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(249, 98, 23, 1);
}

.box_18 {
  background-color: rgba(249, 98, 23, 1);
  position: absolute;
  left: 20px;
  top: 13px;
  width: 468px;
  height: 4px;
}

.text-wrapper_29 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 33px 0 0 14px;
}

.text_39 {
  width: 240px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_30 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_40 {
  width: 210px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_31 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_41 {
  width: 210px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_32 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_42 {
  width: 240px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_33 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_43 {
  width: 240px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_34 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 60px;
  border: 4px solid rgba(249, 98, 23, 1);
  width: 220px;
  position: absolute;
  left: 4294px;
  top: 40px;
}

.text_44 {
  width: 144px;
  height: 46px;
  overflow-wrap: break-word;
  color: rgba(249, 98, 23, 1);
  font-size: 36px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
  margin: 7px 0 0 38px;
}

.block_11 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 4760px;
  height: 1377px;
  border: 1px solid rgba(0, 74, 136, 1);
  margin-bottom: 80px;
  justify-content: flex-center;
}

.box_19 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 476px;
  height: 814px;
  justify-content: flex-center;
  margin: 40px 0 0 40px;
}

.box_20 {
  width: 218px;
  height: 38px;
  margin: 40px 0 0 40px;
}

.box_21 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 8px;
}

.text_45 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}

.text_46 {
  width: 396px;
  height: 672px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 48px;
  margin: 24px 0 40px 40px;
}

.text-wrapper_35 {
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 138px;
  margin-left: 1230px;
  width: 1268px;
}

.text_47 {
  width: 862px;
  height: 80px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 58px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 80px;
  margin: 29px 0 0 203px;
}

.box_22 {
  width: 502px;
  height: 413px;
  margin: 57px 40px 0 1204px;
}

.section_6 {
  position: relative;
  width: 502px;
  height: 30px;
}

.group_17 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(249, 98, 23, 1);
}

.group_18 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(249, 98, 23, 1);
}

.group_19 {
  background-color: rgba(249, 98, 23, 1);
  position: absolute;
  left: 20px;
  top: 13px;
  width: 468px;
  height: 4px;
}

.text-wrapper_36 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 33px 0 0 14px;
}

.text_48 {
  width: 464px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_37 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_49 {
  width: 162px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_38 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_50 {
  width: 254px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_39 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_51 {
  width: 424px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_40 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_52 {
  width: 162px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_41 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 60px;
  border: 4px solid rgba(249, 98, 23, 1);
  width: 220px;
  position: absolute;
  left: 4294px;
  top: 40px;
}

.text_53 {
  width: 144px;
  height: 46px;
  overflow-wrap: break-word;
  color: rgba(249, 98, 23, 1);
  font-size: 36px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
  margin: 7px 0 0 38px;
}

.block_12 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 4760px;
  height: 1377px;
  border: 1px solid rgba(249, 98, 23, 1);
  justify-content: flex-center;
  margin: 0 80px 80px 0;
}

.group_20 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 476px;
  height: 766px;
  justify-content: flex-center;
  margin: 40px 0 0 40px;
}

.group_21 {
  width: 218px;
  height: 38px;
  margin: 40px 0 0 40px;
}

.box_23 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 8px;
}

.text_54 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}

.text_55 {
  width: 396px;
  height: 624px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 48px;
  margin: 24px 0 40px 40px;
}

.text-wrapper_42 {
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 138px;
  margin-left: 1230px;
  width: 1268px;
}

.text_56 {
  width: 756px;
  height: 80px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 58px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 80px;
  margin: 29px 0 0 238px;
}

.group_22 {
  width: 502px;
  height: 339px;
  margin: 57px 40px 0 1204px;
}

.box_24 {
  position: relative;
  width: 502px;
  height: 30px;
}

.block_13 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 74, 136, 1);
}

.block_14 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 74, 136, 1);
}

.block_15 {
  background-color: rgba(0, 74, 136, 1);
  position: absolute;
  left: 20px;
  top: 13px;
  width: 468px;
  height: 4px;
}

.text-wrapper_43 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 33px 0 0 14px;
}

.text_57 {
  width: 464px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_44 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.paragraph_4 {
  width: 464px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_45 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_58 {
  width: 464px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_46 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_59 {
  width: 464px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_47 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 60px;
  border: 4px solid rgba(0, 74, 136, 1);
  width: 220px;
  position: absolute;
  left: 4294px;
  top: 40px;
}

.text_60 {
  width: 144px;
  height: 46px;
  overflow-wrap: break-word;
  color: rgba(0, 74, 136, 1);
  font-size: 36px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
  margin: 7px 0 0 38px;
}

.block_16 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  position: relative;
  width: 4760px;
  height: 1377px;
  border: 1px solid rgba(249, 98, 23, 1);
  margin-bottom: 80px;
  justify-content: flex-center;
}

.block_17 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 476px;
  height: 718px;
  justify-content: flex-center;
  margin: 40px 0 0 40px;
}

.box_25 {
  width: 218px;
  height: 38px;
  margin: 40px 0 0 40px;
}

.group_23 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 8px;
}

.text_61 {
  width: 180px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}

.text_62 {
  width: 396px;
  height: 576px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: justified;
  line-height: 48px;
  margin: 24px 0 40px 40px;
}

.text-wrapper_48 {
  background-color: rgba(249, 98, 23, 1);
  border-radius: 10px;
  height: 138px;
  margin-left: 1230px;
  width: 1268px;
}

.text_63 {
  width: 630px;
  height: 80px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 58px;
  font-family: Microsoft YaHei UI-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 80px;
  margin: 29px 0 0 319px;
}

.block_18 {
  width: 502px;
  height: 487px;
  margin: 57px 40px 0 1204px;
}

.box_26 {
  position: relative;
  width: 502px;
  height: 30px;
}

.group_24 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_25 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 74, 136, 1);
}

.group_26 {
  background-color: rgba(0, 74, 136, 1);
  position: absolute;
  left: 20px;
  top: 13px;
  width: 468px;
  height: 4px;
}

.text-wrapper_49 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 33px 0 0 14px;
}

.text_64 {
  width: 216px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_50 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_65 {
  width: 458px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_51 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_66 {
  width: 133px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_52 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_67 {
  width: 60px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_53 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_68 {
  width: 256px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_54 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 74, 136, 1);
  border-radius: 10px;
  height: 54px;
  width: 488px;
  margin: 20px 0 0 14px;
}

.text_69 {
  width: 368px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 8px 0 0 24px;
}

.text-wrapper_55 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 500px;
  height: 60px;
  border: 4px solid rgba(0, 74, 136, 1);
  width: 220px;
  position: absolute;
  left: 4294px;
  top: 40px;
}

.text_70 {
  width: 144px;
  height: 46px;
  overflow-wrap: break-word;
  color: rgba(0, 74, 136, 1);
  font-size: 36px;
  font-family: Microsoft YaHei UI-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
  margin: 7px 0 0 38px;
}
